.hero-cards{
    padding: 100px 60px;
    width: auto;
}

.main-cards > * + *, .hero-cards > * + *{
    margin-top: 20px;
}

.text-1{
    width: 480px;
    padding: 0 10px;
}

.text-1 h1{
    font-family: "Ndot55", sans-serif;
    font-size: 29px;
}

.text-1 span, .text-1 p{
    font-size: 12px;
}

.text-1 p, .card p{
    line-height: 2;
}

.text-1 > * + *, .card > * + *{
    margin-top: 10px;
}

.main-cards{
    width: 100%;
}

.column-card{
    float: left;
    padding: 0 10px;
}

.card{
    width: 280px;
    background-color: #F2F2F2;
    padding: 25px 10px;
    border-radius: 3px;
}

.card:hover{
    background-color: red;
    color: white;
}

.card:hover p, .card:hover h2, .card:hover i, .card:hover span{
    color: white;
}

.card p, .card h2, .card, .card span, .card i{
    transition: color .8s ease, background-color .8s ease;
}

.card i{
    color: red;
    font-size: 40px;
    font-weight: 100;
}

.card h2{
    font-size: 20px;
}

.card p{
    font-size: 12px;
}

.card span > i{
    color: red;
}