@font-face {
    font-family: "Ndot55";
    src: url("/fonts/5f21b8d13dad527377311ec2d5388bdf.woff2") format("woff2"),
        url("/fonts/5f21b8d13dad527377311ec2d5388bdf.woff") format("woff"),
        url("/fonts/5f21b8d13dad527377311ec2d5388bdf.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    background-color: black;
}

body{
    background-color: white;
    max-width: 1024px;
    margin: 0 auto;
}

header{
    padding: 0 90px;
}

.hero-nav-menu{
    padding: 10px 0;
}

.hero-nav-menu div{
    padding: 0px 20px;
}

.logo{
    padding: 0 20px 0 0 !important;
}

.clearfix{
    clear: both;
}

.hero-menu ul li a{
    margin-left: 20px;
    font-size: 12px;
}

.hero-menu a , .hero-menu i, .logo a{
    transition: color .2s;
}

.hero-menu a:hover i, .hero-menu a:hover, .logo a:hover{
    color: red;
}

.logo a{
    font-family: "Ndot55", sans-serif;
    font-size: 24px;
    color: black;
}

.hero-buttons, .hero-menu ul li, .hero-menu, .logo{
    float: left;
}

.hero-buttons a{
    transition: color .8s all;
}

.hero-join:hover{
    background-color: white;
    color: red;
}

.hero-join{
    padding: 10px 20px;
    background: red;
    border-radius: 20px;
    font-family: "Ndot55", sans-serif;
    color: white;
    border: 1px solid red;
    transition: background-color .8s ease, color .8s ease;
    display: inline-block;
}

.ri-moon-fill{
    padding: 10px;
    margin-left: 5px;
    background: #f1f1f1;
    border-radius: 100%;
    border: 1px solid red;
}