.hero-empresas{
    padding: 100px 0;
}

.empresas{
    background-color: #F0F0F0;
    padding: 40px 64px;
}

.column-empresa{
    float: left;
    padding: 0 5px;
    width: 128px;
}

.empresa img{
    width: 100%;
}