.hero-portafolio{
    padding: 75px 62px;
}

.title-main-portafolio{
    padding: 0 10px;
}

.hero-portafolio > * + *{
    margin-top: 15px;
}

.img-card{
    width: 280px;
}

.img-card img{
    width: 100%;
    border-radius: 5px;
}

.special{
    height: 280px;
}

.column-options{
    float: left;
    padding: 0 15px;
}

.sub-text h6{
    color: #857A7A;
    font-size: 14px;
}

.salt-info{
    width: 280px;
    position: absolute;
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.9) 0%,
        rgba(0,0,0,.9) 20%,
        rgba(0,0,0,0.7) 50%,
        rgba(0,0,0,0.4) 70%,  
        rgba(0,0,0,0) 100% 
    );
    top: 100%;
    padding: 8px 12px;
    border-radius: 6px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transform: translateY(0);
    transition: all .5s ease;
}

.hero-portafolio .column-card{
    position: reLative;
}

.column-card:hover .salt-info{
    opacity: 1;
    visibility: visible;
    transform: translateY(-100%);
}

.column-opc{
    float: left;
    margin-left: 8px;
    margin-top: 5px;
}

.column-opc p{
    font-size: 12px;
    color: red;
}

.column-link{
    margin-top: 5px;
}

.link{
    width: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 5px 90px 8px 90px;
}

.link a{
    color: red;
    font-size: 12px;
}

.hero-info-1 h3 , .hero-info-1 p{
    color: white;
}

.hero-info-1 h3{
    font-size: 18px;
}

.hero-info-1 p{
    font-size: 13px;
}