:root{
    --font-title: "Ndot55", sans-serif;
}

.hero-main{
    width: 100%;
    padding: 100px 80px;
}

.column-text{
    padding: 0 25px 0 25px;
    float: left;
}

.text{
    padding: 50px 0;
}

.logos a{
    background-color: #F2F2F2;
    padding: 5px;
    border-radius: 3px;
    transition: background-color .8s ease, color .8s ease;
}

.text > * + *{
    margin-top: 15px;
}

.logos ul > * + *{
    margin-left: 10px;
}

.logos ul li {
    float: left;
}

.logos a:hover{
    background-color: red;
}

.logos ul li a {
    transition: background-color .8s ease, color .8s ease;
    display: inline-block;
}

.logos a:hover i{
    color: white;
}

.text h1{
    font-family: "Ndot55", sans-serif;
    font-size: 29px;
}

span{
    color: red;
    font-family: "Ndot55", sans-serif;;
}

.text p{
    font-size: 12px;
    line-height: 2;
    width: 310px;
}

.hero-img-main{
    float: left;
    width: 450px;
    padding: 0 25px 0 25px;
}

.img{
    padding: 20px 0 20px 0;
}

.hero-img-main img{
    width: 100%;
}