.sub-2{
    padding: 100px 55px;
}

.sub-2 .hero-img-main{
    width: 350px;
}

.sub-2 .hero-img-main .img{
    padding: 20px 0;
}

.text-2{
    width: 480px;
}

.sub-2 .text{
    padding: 25px 0;
}

.text-2 p{
    width: auto;
}
