.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.hero-main-3{
    padding: 60px 55px;
}

.column-container{
    padding: 0 25px;
    float: left;
    width: 450px;
}

.hero-container-1{
    padding: 25px 0;
}

.hero-container-1 > * + *, .text-3 > * + *{
    margin-top: 10px;
}

.hero-mini-cards > * + *{
    margin-top: 5px;
}

.text-3 h1{
    font-family: var(--font-title);
    font-size: 30px;
}

.text-3 p{
    font-size: 14px;
    line-height: 2;
}

.column-mini-card{
    float: left;
    width: 200px;
    padding: 0 2.5px;
}

.mini-card{
    background-color: #F2F2F2;
    padding: 10px 5px;
    transition: color .8s ease, background-color .8s ease;
}

.mini-cards{
    width: 100%;
}

.mini-card i{
    font-size: 28px;
    color: red;
    transition: color .8s ease;
}

.mini-card p{
    font-size: 14px;
    transition: color .8s ease;
}

.mini-card:hover{
    background-color: red;
}

.mini-card:hover p, .mini-card:hover i{
    color: white;
}