<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tite</title>

    <!--Link Remix Icons-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>

    <!--Link CSS Header-->
    <link rel="stylesheet" href="../public/style/header.css">

    <!--Link CSS Main-->
    <link rel="stylesheet" href="../public/style/main-1.css">
    <link rel="stylesheet" href="../public/style/main-2.css">
    <link rel="stylesheet" href="../public/style/main-3.css">
    <link rel="stylesheet" href="../public/style/main-4.css">
    <link rel="stylesheet" href="../public/style/main-numbers.css">
    <link rel="stylesheet" href="../public/style/hero-portafolio.css">
    <link rel="stylesheet" href="../public/style/hero-empresas.css">

    <!--Link CSS Cards-->
    <link rel="stylesheet" href="../public/style/cards.css">
    <link rel="stylesheet" href="../public/style/main-cards-2.css">

    <!--Link CSS Footer-->
    <link rel="stylesheet" href="../public/style/footer.css">
</head>
<body>
    <header>
        <section class="hero-nav-menu">
            <div class="logo">
                <a href="#">NOTHING (R)</a>
            </div>
            <div class="hero-menu">
                <ul>
                    <li><a class="clear-margin" href="#">Home <i class="ri-arrow-down-s-fill"></i></a></li>
                    <li><a href="pruebas.html">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Pages <i class="ri-arrow-down-s-fill"></i></a></li>
                    <li><a href="#">Portafolio</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="hero-buttons">
                <a href="#" class="hero-join">Join Now</a>
                <a href="#"><i class="ri-moon-fill"></i></a>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </section>
    </header>
    <section class="hero-main">
        <div class="column-text">
            <div class="text">
                <div class="logos">
                    <ul>
                        <li><a href="#"><i class="ri-facebook-circle-fill"></i></a></li>
                        <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                        <li><a href="#"><i class="ri-twitter-x-line"></i></a></li>
                        <li><a href="#"><i class="ri-youtube-fill"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <h1>Excellent IT <span>Solutions</span> <br> For Your Success</h1>
                <p>At Any Rate, Lorem Ipsum Dolor Sit Amet Consectetur
                Adipsiciong Elit. Eaque Amet, Quod Doloribus The Framework
                Of The Essence Represent A Bond Between The Flexible
                Production Planning</p>
                <div class="hero-enlace">
                    <a href="#" class="hero-join">Join Now</a>
                </div>
            </div>
        </div>
        <div class="hero-img-main">
            <div class="img">
                <img src="sources/BMW-M4GT3.png" alt="BMW-M4GT3 como fondo">
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <section class="hero-cards">
        <div class="text-1">
            <span>OUR SERVICES</span>
            <h1>What We're Offering?</h1>
            <p>As A Matter Pf Fact The Unification Of The Coherent Software Provides 
            A Strict Control Over The Accomplishment Of Intended Estimation</p>
        </div>
        <div class="main-cards">
            <div class="cards">
                <div class="column-card">
                    <div class="card">
                        <i class="ri-code-s-slash-line"></i>
                        <h2>Web Development</h2>
                        <p>Lorem Impsum Dolor Amet Consectetur Adipsiciong 
                            Elit. Optio Unde, Exped Ita Nesciunt Quibusdam Quis
                            Tempore Quas Tenetur
                        </p>
                        <span>Learn More <i class="ri-arrow-right-long-line"></i></span>
                    </div>
                </div>
                <div class="column-card right">
                    <div class="card">
                        <i class="ri-megaphone-fill"></i>
                        <h2>Web Development</h2>
                        <p>Lorem Impsum Dolor Amet Consectetur Adipsiciong 
                            Elit. Optio Unde, Exped Ita Nesciunt Quibusdam Quis
                            Tempore Quas Tenetur
                        </p>
                        <span>Learn More <i class="ri-arrow-right-long-line"></i></span>
                    </div>
                </div>
                <div class="column-card right">
                    <div class="card">
                        <i class="ri-search-line"></i>
                        <h2>Web Development</h2>
                        <p>Lorem Impsum Dolor Amet Consectetur Adipsiciong 
                            Elit. Optio Unde, Exped Ita Nesciunt Quibusdam Quis
                            Tempore Quas Tenetur
                        </p>
                        <span>Learn More <i class="ri-arrow-right-long-line"></i></span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="cards">
                <div class="column-card">
                    <div class="card">
                        <i class="ri-bug-fill"></i>
                        <h2>Web Development</h2>
                        <p>Lorem Impsum Dolor Amet Consectetur Adipsiciong 
                            Elit. Optio Unde, Exped Ita Nesciunt Quibusdam Quis
                            Tempore Quas Tenetur
                        </p>
                        <span>Learn More <i class="ri-arrow-right-long-line"></i></span>
                    </div>
                </div>
                <div class="column-card right">
                    <div class="card">
                        <i class="ri-pencil-ruler-line"></i>
                        <h2>Web Development</h2>
                        <p>Lorem Impsum Dolor Amet Consectetur Adipsiciong 
                            Elit. Optio Unde, Exped Ita Nesciunt Quibusdam Quis
                            Tempore Quas Tenetur
                        </p>
                        <span>Learn More <i class="ri-arrow-right-long-line"></i></span>
                    </div>
                </div>
                <div class="column-card right">
                    <div class="card">
                        <i class="ri-android-fill"></i>
                        <h2>Web Development</h2>
                        <p>Lorem Impsum Dolor Amet Consectetur Adipsiciong 
                            Elit. Optio Unde, Exped Ita Nesciunt Quibusdam Quis
                            Tempore Quas Tenetur
                        </p>
                        <span>Learn More <i class="ri-arrow-right-long-line"></i></span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <section class="sub-2">
        <div class="column-text">
            <div class="text text-2">
                <span>About Us</span>
                <h1>The best IT Solutions Since <span>2015</span></h1>
                <p>
                    El Porsche 911 GT3 RS es un superdeportivo diseñado para llevar la experiencia de conducción al límite.  
                    Se trata de la versión más radical y enfocada en la pista dentro de la familia 911, destacando por su motor atmosférico bóxer de seis cilindros, capaz de alcanzar un régimen de revoluciones altísimo, ofreciendo una respuesta inmediata y un sonido inconfundible que evoca a la competición.  
                    Su carrocería, construida con materiales ligeros como fibra de carbono y aluminio, está acompañada de un paquete aerodinámico avanzado que incluye un gran alerón trasero, tomas de aire optimizadas y difusores que garantizan una enorme carga aerodinámica.  
                </p>
                <div class="hero-enlace">
                    <a href="#" class="hero-join">Join Now</a>
                </div>
            </div>
        </div>
        <div class="hero-img-main">
            <div class="img">
                <img src="sources/BMW-M4GT3.png" alt="BMW-M4GT3 como fondo">
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <section class="hero-main-3">
        <div class="hero-img-main">
            <div class="img">
                <img src="sources/porsche gt3.jpg" alt="BMW-M4GT3 como fondo">
            </div>
        </div>
        <div class="column-container">
            <div class="hero-container-1">
                <div class="text-3">
                    <h1>We Deal With The Aspects Of Professional <span>IT Services</span></h1>
                    <p>
                        Althoug, Final Stoges Of The Internal Network Gives A Complete
                        Experience Of The Parameter Of Speculative Entreteiment
                    </p>
                </div>
                <div class="hero-mini-cards">
                    <div class="mini-cards">
                        <div class="column-mini-card">
                            <div class="mini-card">
                                <p><i class="ri-map-2-line"></i> Worlwide Services</p>
                            </div>
                        </div>
                        <div class="column-mini-card">
                            <div class="mini-card">
                                <p><i class="ri-customer-service-fill"></i> Support 24h/24</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="mini-cards">
                        <div class="column-mini-card">
                            <div class="mini-card">
                                <p><i class="ri-gamepad-line"></i> Easy To Reach</p>
                            </div>
                        </div>
                        <div class="column-mini-card">
                            <div class="mini-card">
                                <p><i class="ri-gemini-fill"></i> First On Field</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div> 
        </div>            
        <div class="clearfix"></div>
    </section>
    <section class="hero-main-4">
        <div class="column-hero-container-1">
            <div class="hero-container-1">
                <div class="text-3">
                    <h1>We Are Here To IT Solution With 20 Years Of <span>Experience</span></h1>
                    <p>
                        Althoug, Final Stoges Of The Internal Network Gives A Complete
                        Experience Of The Parameter Of Speculative Entreteiment
                    </p>
                </div>
                <div class="skill">
                    <div class="skill-row">
                        <span class="skill-name">App Development</span>
                        <span class="skill-value">70%</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="progress">
                        <div class="progress-fill" style="--value:70%"></div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-row">
                        <span class="skill-name">UI/UX Design</span>
                        <span class="skill-value">20%</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="progress">
                        <div class="progress-fill" style="--value:20%"></div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-row">
                        <span class="skill-name">Web Development</span>
                        <span class="skill-value">55%</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="progress">
                        <div class="progress-fill" style="--value:55%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-img-main ">
            <div class="img">
                <img src="sources/BMW-M4GT3.png" alt="BMW-M4GT3 como fondo">
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <section class="hero-numbers">
        <div class="container-numbers">
            <div class="column-number">
                <div class="number">
                    <span>79</span>
                    <h4>Happy Client</h4>
                </div>
            </div>
            <div class="column-number">
                <div class="number">
                    <span>30</span>
                    <h4>Hard Worker</h4>
                </div>
            </div>
            <div class="column-number">
                <div class="number">
                    <span>400</span>
                    <h4>Complete Projects</h4>
                </div>
            </div>
            <div class="column-number">
                <div class="number">
                    <span>4</span>
                    <h4>Years Of Experience</h4>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </section>
    <section class="hero-cards-2">
        <div class="text-1">
            <span>Why Choose US</span>
            <h1>What We're Offering?</h1>
            <p>As A Matter Pf Fact The Unification Of The Coherent Software Provides 
            A Strict Control Over The Accomplishment Of Intended Estimation</p>
        </div>
        <div class="main-cards">
            <div class="cards">
                <div class="column-card">
                    <div class="card">
                        <span>01.</span>
                        <h2>Latest Technologies</h2>
                        <p>Lorem Impsum Dolor Amet Consectetur Adipsiciong 
                            Elit. Optio Unde, Exped Ita Nesciunt Quibusdam Quis
                            Tempore Quas Tenetur
                        </p>
                    </div>
                </div>
                <div class="column-card right">
                    <div class="card">
                        <span>02.</span>
                        <h2>Unique Solutions</h2>
                        <p>Lorem Impsum Dolor Amet Consectetur Adipsiciong 
                        Elit. Optio Unde, Exped Ita Nesciunt Quibusdam Quis
                        Tempore Quas Tenetur
                        </p>
                    </div>
                </div>
                <div class="column-card right">
                    <div class="card">
                        <span>03.</span>
                        <h2>Powerful Strategies</h2>
                        <p>Lorem Impsum Dolor Amet Consectetur Adipsiciong 
                        Elit. Optio Unde, Exped Ita Nesciunt Quibusdam Quis
                        Tempore Quas Tenetur
                        </p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <section class="hero-portafolio">
        <div class="title-main-portafolio">
            <div class="text-1">
                <span>Portafolio</span>
                <h1>Our Portafolio</h1>
            </div>
            <div class="colum-option">
                <div class="options">
                    <div class="column-options">
                        <div class="sub-text">
                            <h6>All</h6>
                        </div>
                    </div>
                    <div class="column-options">
                        <div class="sub-text">
                            <h6>Mobie</h6>
                        </div>
                    </div>
                    <div class="column-options">
                        <div class="sub-text">
                            <h6>Data</h6>
                        </div>
                    </div>
                    <div class="column-options">
                        <div class="sub-text">
                            <h6>Web</h6>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="main-cards">
            <div class="cards">
                <div class="column-card">
                    <div class="img-card">
                        <img src="sources/1.jpg" alt="">
                    </div>
                    <div class="salt-info">
                        <div class="column-info-1">
                            <div class="hero-info-1">
                                <h3>TANSIAPP</h3>
                                <p>Mobile Application</p>
                            </div>
                        </div>
                        <div class="column-info-2">
                            <div class="hero-info-2">
                                <div class="column-opc">
                                    <div class="opc">
                                        <p>#React</p>
                                    </div>
                                </div>
                                <div class="column-opc">
                                    <div class="opc">
                                        <p>#HTML</p>
                                    </div>
                                </div>
                                <div class="column-opc">
                                    <div class="opc">
                                        <p>#Next_js</p>
                                    </div>
                                </div>
                                <div class="column-opc">
                                    <div class="opc">
                                        <p>#Node</p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="column-link">
                            <div class="link">
                                <li><a href="#">View Project</a></li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column-card right">
                    <div class="img-card">
                        <img src="sources/2.jpg" alt="">
                    </div>
                    <div class="salt-info">
                        <div class="column-info-1">
                            <div class="hero-info-1">
                                <h3>TANSIAPP</h3>
                                <p>Mobile Application</p>
                            </div>
                        </div>
                        <div class="column-info-2">
                            <div class="hero-info-2">
                                <div class="column-opc">
                                    <div class="opc">
                                        <p>#React</p>
                                    </div>
                                </div>
                                <div class="column-opc">
                                    <div class="opc">
                                        <p>#HTML</p>
                                    </div>
                                </div>
                                <div class="column-opc">
                                    <div class="opc">
                                        <p>#Next_js</p>
                                    </div>
                                </div>
                                <div class="column-opc">
                                    <div class="opc">
                                        <p>#Node</p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="column-link">
                            <div class="link">
                                <li><a href="#">View Project</a></li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column-card right">
                    <div class="img-card">
                        <img src="sources/3.jpg" alt="">
                    </div>
                    <div class="salt-info">
                        <div class="column-info-1">
                            <div class="hero-info-1">
                                <h3>TANSIAPP</h3>
                                <p>Mobile Application</p>
                            </div>
                        </div>
                        <div class="column-info-2">
                            <div class="hero-info-2">
                                <div class="column-opc">
                                    <div class="opc">
                                        <p>#React</p>
                                    </div>
                                </div>
                                <div class="column-opc">
                                    <div class="opc">
                                        <p>#HTML</p>
                                    </div>
                                </div>
                                <div class="column-opc">
                                    <div class="opc">
                                        <p>#Next_js</p>
                                    </div>
                                </div>
                                <div class="column-opc">
                                    <div class="opc">
                                        <p>#Node</p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="column-link">
                            <div class="link">
                                <li><a href="#">View Project</a></li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="cards">
                <div class="column-card">
                    <div class="img-card">
                        <img src="sources/4.png" alt="">
                    </div>
                    <div class="salt-info">
                        <div class="column-info-1">
                            <div class="hero-info-1">
                                <h3>TANSIAPP</h3>
                                <p>Mobile Application</p>
                            </div>
                        </div>
                        <div class="column-info-2">
                            <div class="hero-info-2">
                                <div class="column-opc">
                                    <div class="opc">
                                        <p>#React</p>
                                    </div>
                                </div>
                                <div class="column-opc">
                                    <div class="opc">
                                        <p>#HTML</p>
                                    </div>
                                </div>
                                <div class="column-opc">
                                    <div class="opc">
                                        <p>#Next_js</p>
                                    </div>
                                </div>
                                <div class="column-opc">
                                    <div class="opc">
                                        <p>#Node</p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="column-link">
                            <div class="link">
                                <li><a href="#">View Project</a></li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column-card right">
                    <div class="img-card">
                        <img src="sources/5.jpeg" alt="">
                    </div>
                    <div class="salt-info">
                        <div class="column-info-1">
                            <div class="hero-info-1">
                                <h3>TANSIAPP</h3>
                                <p>Mobile Application</p>
                            </div>
                        </div>
                        <div class="column-info-2">
                            <div class="hero-info-2">
                                <div class="column-opc">
                                    <div class="opc">
                                        <p>#React</p>
                                    </div>
                                </div>
                                <div class="column-opc">
                                    <div class="opc">
                                        <p>#HTML</p>
                                    </div>
                                </div>
                                <div class="column-opc">
                                    <div class="opc">
                                        <p>#Next_js</p>
                                    </div>
                                </div>
                                <div class="column-opc">
                                    <div class="opc">
                                        <p>#Node</p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="column-link">
                            <div class="link">
                                <li><a href="#">View Project</a></li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column-card right">
                    <div class="img-card special">
                        <img src="sources/6.jpg" alt="">
                    </div>
                    <div class="salt-info">
                        <div class="column-info-1">
                            <div class="hero-info-1">
                                <h3>TANSIAPP</h3>
                                <p>Mobile Application</p>
                            </div>
                        </div>
                        <div class="column-info-2">
                            <div class="hero-info-2">
                                <div class="column-opc">
                                    <div class="opc">
                                        <p>#React</p>
                                    </div>
                                </div>
                                <div class="column-opc">
                                    <div class="opc">
                                        <p>#HTML</p>
                                    </div>
                                </div>
                                <div class="column-opc">
                                    <div class="opc">
                                        <p>#Next_js</p>
                                    </div>
                                </div>
                                <div class="column-opc">
                                    <div class="opc">
                                        <p>#Node</p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="column-link">
                            <div class="link">
                                <li><a href="#">View Project</a></li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        <div class="clearfix"></div>
    </section>
    <section class="hero-empresas">
        <div class="empresas">
            <div class="column-empresa clear-margin">
                <div class="empresa">
                    <img src="sources/1-white.png" alt="">
                </div>
            </div>
            <div class="column-empresa">
                <div class="empresa">
                    <img src="sources/2-white.png" alt="">
                </div>
            </div>
            <div class="column-empresa">
                <div class="empresa">
                    <img src="sources/3-white.png" alt="">
                </div>
            </div>
            <div class="column-empresa">
                <div class="empresa">
                    <img src="sources/4-white.png" alt="">
                </div>
            </div>
            <div class="column-empresa">
                <div class="empresa">
                    <img src="sources/5-white.png" alt="">
                </div>
            </div>
            <div class="column-empresa">
                <div class="empresa">
                    <img src="sources/6-white.png" alt="">
                </div>
            </div>
            <div class="column-empresa">
                <div class="empresa">
                    <img src="sources/7-white.png" alt="">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </section>
    <footer>
        <section class="footer-hight">
            <div class="column-footer-block">
                <div class="footer-block">
                    <div class="footer-info">
                        <div class="footer-logo">
                            <h6>NOTHING</h6>
                        </div>
                        <div class="footer-info-text">
                            <p>Lorem Ipsum Dolor Sit Amet</p>
                            <p>Aspernautur Exercitationem Fugiat.</p>
                        </div>
                    </div>
                    <div class="footer-logos">
                        <div class="follow">
                            <span>follow Us</span>
                        </div>
                        <div class="container-logos">
                            <div class="column-footer-logo">
                                <div class="footer-logo">
                                    <li><a href="#"><i class="ri-facebook-circle-fill"></i></a></li>
                                </div>
                            </div>
                            <div class="column-footer-logo">
                                <div class="footer-logo">
                                    <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                                </div>
                            </div>
                            <div class="column-footer-logo">
                                <div class="footer-logo">
                                    <li><a href="#"><i class="ri-twitter-x-line"></i></a></li>
                                </div>
                            </div>
                            <div class="column-footer-logo">
                                <div class="footer-logo">
                                    <li><a href="#"><i class="ri-youtube-fill"></i></a></li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>
    </footer>
</body>
</html>